{% load i18n %}
{% load account_tags %}

<ul class="nav navbar-nav pull-right">
    {% if user.is_authenticated %}
        <p class="navbar-text">
            <i class="fa fa-user"></i> {% user_display user %}
        </p>
        <li>
            <a id="logout" href="{% url 'logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
        <li>Signup Is disabled at this time</li>
    {% endif %}
</ul>

{% if user.is_authenticated %}
  <form id="accountLogOutForm" style="display: none;" action="{% url 'logout' %}" method="POST">
      {% csrf_token %}
  </form>
{% endif %}
