{% extends "site_base.html" %}

{% block head_title %}Waitlist Entries Index{% endblock %}

{% block body_class %}waitlist-index{% endblock %}

{% block body_base %}
    <h2>Working Form</h2>
    <form action="{% url 'waitlist_entries:index' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ waitlist_entry_form }}
        <div class="form-group">
          <label for="picture">File upload: </label>
          <input type="file" name="picture">
        </div>
        <div class="form-group">
          <label for="picture">File upload: </label>
          <input type="file" name="picture">
        </div>
        <div class="form-group">
          <label for="avatar">File upload: </label>
          <input type="file" name="avatar">
        </div>
        <input type="submit" value="Submit" />
    </form>
    <h2>Missing CSRF Form</h2>
    <form action="{% url 'waitlist_entries:index' %}" method="post">
        {{ waitlist_entry_form }}
        <input type="submit" value="Submit" />
    </form>

    <ul>
    {% for waitlist_entry in waitlist_entries %}
        <li>{{ waitlist_entry.email }}</li>
    {% endfor %}
    </ul>
{% endblock %}

